.container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    margin: auto;
    max-width: 550px;
}

button {
    min-height: 32px;
}

.vertical-group {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
}

.three-col {
    border: 1px solid silver;
    padding: 3px 3px 3px 3px;
    grid-gap: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.two-col {
    border: 1px solid silver;
    padding: 5px 3px 5px 3px;
    grid-gap: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

div.three-col, div.two-col{
    max-width: 170px;
    min-width: 170px;
    text-align: center;
    margin: auto;
}

.three-col div {
    display: table-cell;
    vertical-align: middle;
}

button {
    max-height: 42px;
    min-height: 42px;
    max-width: 50px;
    min-width: 50px;
    overflow: hidden;
    text-align: center;
}

.two-col button {
    min-width: 64px;
    max-width: 64px;
}

.inactive {
    border-color: transparent;
    color: inherit;
    background-color: transparent;
}
